JWT_SECRET_KEY=your_jwt_secret_key_here
JWT_REFRESH_SECRET_KEY=your_jwt_refresh_secret_key_here
ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_DAYS=0
JWT_ALGORITHM=HS256

DB_HOST=db
DB_PORT=5432
DB_DATABASE_NAME=kebbi
DB_USERNAME=kebbi
DB_PASSWORD=kebbi

# TTS Service Configuration (OpenAI)
OPENAI_API_KEY=your_openai_api_key_here
TTS_MODEL=tts-1
VOICE_MODEL=alloy

# Food Recognition Service Configuration
FOOD_API_URL=https://food.bestweiwei.dpdns.org

FRAUD_DETECTION_API_URL=http://vision.futuremedialab.tw:9000/predict
