# Flutter/Dart/Pub
.dart_tool/
.packages
.pub-cache/
build/
.flutter-plugins
.flutter-plugins-dependencies
.metadata

# macOS
.DS_Store

# Android
**/android/local.properties
**/android/key.properties
**/*.keystore
**/*.ks
**/android/.gradle/

# iOS
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/ephemeral/
**/ios/Flutter/Flutter.podspec

# Web
lib/generated_plugin_registrant.dart

# IDE / Editors
.vscode/
.idea/
*.iml
xcuserdata/

# Logs / Temp
*.log
*.tmp

# Build outputs / binaries
build/
*.apk
*.aab
app-release.apk.sha1

# Keystore
key.properties
*.jks
*.keystore
